<!-- <h1>Hola</h1>
<app-by-capital></app-by-capital>
<app-by-country></app-by-country>
<app-by-region></app-by-region>
<app-sidebar></app-sidebar> -->
<div class="row container mt-4">
    <div class="col-3">
        <!-- <h2>Search</h2>
        <hr>
        <ul class="list-group">
            <li routerLink="" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="list-group-item">Search by Country</li>
            <li routerLink="region" routerLinkActive="active" class="list-group-item">Search by Region</li>
            <li routerLink="capital" routerLinkActive="active" class="list-group-item">Search by Capital</li>
        </ul> -->
        <app-sidebar></app-sidebar>
    </div>
    <div class="col">
        <router-outlet></router-outlet>        
    </div>
</div>